body {
    padding: 32px;
}

.card {
    position: relative;
    width: 300px;
    border: 1px solid #bababa;
    

    .text {
        padding: 0 16px;
    }

    img {
        max-width: 300px;
        width: 100%;
    }

    .fecha {
        background-color: #fff;
        border: 1px solid black;
        display: inline-block;
        padding: 16px;
        text-align: center;

        position: absolute;
        top: 8px;
        left: 8px;
    }

    .dia {
        font-size: 32px;
    }
    .mes {
        text-transform: uppercase;
    }
}