@font-face {
    font-family: 'QuatroBlack';
    src: url('../fonts/Quatro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis';
    src: 
        url('../fonts/Metropolis-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Metropolis Thin';
    src: 
        url('../fonts/metropolis.thin.otf') format('opentype');
}

@font-face {
    font-family: 'Metropolis Regular';
    src: 
        url('../fonts/metropolis.regular.otf') format('opentype');
}

@font-face {
    font-family: 'Myanmar Text';
    src: url('../fonts/mmrtextb.ttf') format('truetype');
}

body,
html {
    font-family: 'Metropolis';
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    color: var(--black);
}

h1 {
    font-family: 'QuatroBlack';
}

h2, h3, h4, h5, h6 {
    font-family: 'Myanmar Text';
}


textarea {
    resize: none;
}

span.required {
    color: var(--red);
}

.text-mute {
    opacity: 0.7;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--darkPurple);
    --bs-btn-border-color: var(--darkPurple);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--darkPurple-shade-1);
    --bs-btn-hover-border-color: var(--darkPurple-shade-1);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--darkPurple-shade-1);
    --bs-btn-active-border-color: var(--darkPurple-shade-1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--darkPurple);
    --bs-btn-disabled-border-color: var(--darkPurple);
}

.btn-success {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--green);
    --bs-btn-border-color: var(--green);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--green);
    --bs-btn-disabled-border-color: var(--green);
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--yellow);
    --bs-btn-border-color: var(--yellow);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--yellow);
    --bs-btn-disabled-border-color: var(--yellow);
}

.btn-outline-primary {
    --bs-btn-color: var(--darkPurple);
    --bs-btn-border-color: var(--darkPurple);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--darkPurple);
    --bs-btn-hover-border-color: var(--darkPurple);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--darkPurple);
    --bs-btn-active-border-color: var(--darkPurple);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--darkPurple);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--darkPurple);
    --bs-gradient: none;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
}


.open-blink {
    content: ' ';
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 20px;
    border-radius: 50%;
    background-color: #4caf50;
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    &:before {
        content: ' ';
        position: absolute;
        top: -8px;
        left: -8px;
        display: inline-block;
        width: 30px;
        height: 30px;
        opacity: 0.1;
        border-radius: 50%;
        background-color: #4caf50;
    }
}

.swal2-content {
    color: var(--black) !important;
    text-align: left !important;
}

.btn-scroll-top {
    font-size: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border: none;
    
    background-color: var(--white);
    padding: 6px 14px 0px 14px;
    border-radius: 100%;
}

.btn-scroll-top i {
    color: var(--bs-blue);
}

@media (min-height: 600px) {
    .btn-scroll-top.visible {
        display: block;
    }
}


.cart-items-popup {
    position: fixed;
    background-color: #fff;
    max-width: 562px;
    width: 100%;
    right: 20px;
    top: 90px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 32px;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    z-index: 1031;

    h3 {
        text-align: center;
        letter-spacing: 2px;
        font-size: 22px;
    }

    button.regresar {
        position: absolute;
        top: 20px;
    }

    .cart-items-popup-list {
        height: 250px;
        overflow: scroll;
    }

    .cart-item-popup {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 24px;
    }

    .cart-item-popup-left {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }

    .cart-item-popup-img {
        width: 80px;
        height: auto;
    }

    .cart-item-popup-text {
        h2 {
            font-size: 20px;
            margin: 0;
            text-align: left;
            padding-bottom: 0;
        }
        p {
            margin: 0;

            &.cart-item-popup-text-precio {
                font-size: 22px;
            }
        }
    }

    .cart-item-popup-actions {
        display: flex;
        gap: 8px;
        align-items: center;
        input {
            width: 70px;
            background-color: var(--darkPurple);
            color: var(--white);
            border: none;
            border-radius: 3px;
            text-align: center;
        }
        button {
            background-color: transparent;
            border: none;
            color: var(--red);
            font-size: 20px;
        }
    }

    .cart-items-popup-total {
        margin: 24px 0;

        .item {
            display: flex;
            align-items: center;  
            justify-content: space-between;      
        }
    }

    .cart-items-popup-footer {
        .cart-items-popup-footer-cta {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.shipping-popup-open {
    overflow: hidden;
    pointer-events: none;
}

.shipping-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 100%;

    pointer-events: auto;
    
    background-color: var(--white);
    border-radius: 5px;
    z-index: 1032;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    padding: 24px;

    @media screen and (max-width: 991px) {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        height: 100%;
        overflow: scroll;
    }
    
    .shipping-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        margin: 40px 0;
    }

    .shipping-form {
        max-width: 350px;
        width: 100%;
    }

    .shipping-cta {
        position: fixed;
        bottom: 0;
        right: 0;

        @media screen and (max-width: 991px) {
            position: relative;
        }
    }

    .shipping-items {
        max-height: 400px;
        height: 100%;
        overflow: scroll;

        max-width: 400px;
        width: 100%;
    }

    .shipping-item {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-top: 24px;
    }

    .shipping-item-popup-left {
        display: flex;
        align-items: flex-start;
        gap: 32px;
    }

    .shipping-item-popup-img {
        width: 80px;
        height: auto;
    }

    .shipping-item-popup-text {
        h2 {
            font-size: 20px;
            margin: 0;
            text-align: left;
            padding-bottom: 0;
        }
        p {
            margin: 0;

            &.shipping-item-popup-text-precio {
                font-size: 22px;
            }
        }
    }

    .shipping-item-popup-actions {
        display: flex;
        gap: 8px;
        align-items: center;
        input {
            width: 70px;
            background-color: var(--darkPurple);
            color: var(--white);
            border: none;
            border-radius: 3px;
            text-align: center;
        }
        button {
            background-color: transparent;
            border: none;
            color: var(--red);
            font-size: 20px;
        }
    }

    .shipping-items-popup-total {
        margin: 24px 0;

        .item {
            display: flex;
            align-items: center;  
            justify-content: space-between;      
        }
    }

    .shipping-items-popup-footer {
        .shipping-items-popup-footer-cta {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

}