#contacto {
    margin: 100px 0;
    .contacto-rectangle {
        background-image: url("../images/pattern-bg.svg");
        background-color: var(--darkPurple);
        width: 100%;
        height: 300px;

        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 57px;
            line-height: 1.5;
            color: var(--white);

            span {
                color: var(--yellow);
            }
            @media screen and (max-width: 991px) {
                font-size: 32px;
                text-align: center;
            }
        }
    }

    .contacto-form-container {
        width: 100%;
        padding: 0 40px;
        @media screen and (max-width: 991px) {
            padding: 0;
        }
    }

    .contacto-form {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        width: 100%;
        margin-top: -50px;
        background-color: var(--white);

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-form-fields {
        padding: 32px;
        max-width: 500px;
        width: 100%;
    }

    #contacto-form-enviar {
        width: 100%;
    }

    .mapa {
        max-width: 500px;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
}