#footer {
    background-color: var(--darkPurple);
    color: var(--white);
    width: 100%;
    height: 100%;
    padding: 40px 0;

    .group-links {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 150px;
    }

    .logo-footer {
        padding: 40px 0;
        img {
            width: 150px;
            height: 100px;
        }
    }

    .group-link {
        h3 {
            color: var(--yellow);
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "QuatroBlack";
            font-size: 20px;
            margin-bottom: 16px;
        }
        p {
            margin: 0;
            max-width: 500px;
            width: 100%;
            font-size: 20px;
            line-height: 1.5;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 24px;
            }
            li a {
                text-decoration: none;
                font-size: 16px;
                color: var(--white);
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 1.5;
                transition: all 0.05s ease-in-out;
                &:hover {
                    color: var(--yellow);
                }
            }
        }
    }

    p.copy {
        margin-top: 40px;
    }

    p.copy,
    p.country {
        font-size: 20px;
        letter-spacing: 1px;
    }

    hr {
        border-width: 2px;
        color: var(--white);
        opacity: 1;
    }

    #footer-enviar {
        width: 100%;
    }
}