@import url("./animaciones.css");

#hero {
    background-image: url("../images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    margin-top: 100px;

    .arrow-container {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        .down-arrow a {
            font-size: 32px;
            color: var(--darkPurple);
        }
    }

    .hero-social-media {
        margin-top: 100px;
        font-size: 18px;
        display: none;
        p {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &.show {
            display: initial;
            animation: mostrar 1s ease-in-out;
        }
        &.hide {
            display: none;
            animation: ocultar 1s ease-in-out;
        }
        .hero-social-icon {
            margin-left: 8px;
            margin-right: 8px;
            color: var(--darkPurple);
            font-size: 32px;
        }
        @media screen and (max-width: 768px) {
            position: absolute;
            top: 300px;
            font-size: 16px;
        }
    }

    .visual-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        animation: bounceInDown 1s ease-in-out;

        .visual-image-container {
            position: relative;
        }
        &.hide {
            animation: bounceOutUp 1s ease forwards;
        }
    }

    .visual-logo-container {
        position: absolute;
        top: 40px;
        left: 25%;
        right: 25%;
    }

    .rectangle {
        background-color: var(--darkPurple);
        width: 392px;
        height: 471px;

        position: absolute;
        top: 0;
        z-index: 1030;
    }
    .hero-dish-img {
        position: absolute;
        left: -50px;
        top: calc(471px / 2);
        z-index: 1030;
        img {
            width: 530px;
            height: auto;
        }
    }

    .hero-text {
        margin-top: 100px;
        margin-left: 60px;
        animation: bounceInDown 1s ease-in-out;

        .hero-description {
            max-width: 505px;
            width: 100%;
            line-height: 2;
            font-size: 24px;
            margin-top: 32px;
        }
        .free-shipping {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            margin-top: 24px;
            p {
                max-width: 350px;
                width: 100%;
                line-height: 2;
                font-size: 20px;
            }
        }

        .hero-cta-container {
            text-align: center;
            margin-top: 24px;
        }

        @media screen and (max-width: 1400px) {
            margin-left: 0;
        }
        @media screen and (max-width: 1200px) {
            margin-left: -110px;
        }
        @media screen and (max-width: 991px) {
            margin-left: 0;
            .hero-description {
                font-size: 18px;
            }
            .free-shipping {
                p {
                    font-size: 16px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            margin-top: 40px;
            .hero-description {
                font-size: 16px;
                display: none;
            }
            .free-shipping {
                display: none;
                p {
                    font-size: 14px;
                }
            }
            .hero-cta-container {
                display: none;
            }
        }
    }

    .hero-title {
        h1 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 57px;
            line-height: 1.5;

            span {
                color: var(--yellow);
            }
        }

        @media screen and (max-width: 991px) {
            h1 {
                font-size: 32px;
            }
        }
        @media screen and (max-width: 768px) {
            h1 {
                font-size: 32px;
            }
        }
    }

    .hero-description.mobile {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
            margin-top: 250px;
        }
    }

    .free-shipping.mobile {
        display: none;
        @media screen and (max-width: 768px) {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 24px;
            margin-top: 24px;
            img {
                width: 50px;
                height: auto;
            }
            p {
                max-width: 350px;
                width: 100%;
                line-height: 2;
                font-size: 16px;
            }
        }
    }
    .hero-cta-container.mobile {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
            text-align: center;
            margin-top: 24px;
        }
    }

    @media screen and (max-width: 1200px) {
        .visual-logo-container {
            img.visual-logo {
                width: 100px;
                height: auto;
            }
        }

        .rectangle {
            background-color: var(--darkPurple);
            width: 240px;
            height: 471px;
        }
        .hero-dish-img {
            left: -25px;
            top: calc(471px / 2);
            img {
                width: 300px;
                height: auto;
            }
        }
    }


    @media screen and (max-width: 768px) {
        .visual-logo-container {
            img.visual-logo {
                width: 70px;
                height: auto;
            }
        }

        .rectangle {
            background-color: var(--darkPurple);
            width: 150px;
            height: 300px;
        }
        .hero-dish-img {
            left: 0;
            top: 220px;
            img {
                width: 150px;
                height: auto;
            }
        }
    }
}

#popular {
    width: 100%;
    margin-top: 100px;

    h1 {
        font-size: 57px;
        text-transform: uppercase;
        span {
            color: var(--yellow);
        }
        text-align: center;
    }

    .row.popular {
        margin-top: 150px;
    }

    .col.popular {
        margin-top: 6rem;
    }

    .product-showcase-card {
        position: relative;
        width: 380px;
        height: 467px;
        padding: 24px;
        box-sizing: border-box;

        background-color: var(--black);
        color: var(--white);
        border-radius: 10px;
        
        .popular-top {
            display: flex;
            margin-bottom: 100px;
        }
        .popular-producto {
            position: absolute;
            top: -75px;
            left: -25px;
            width: 200px;
            height: auto;
        }

        .popular-precio {
            font-size: 24px;
            display: flex;
            margin-left: auto;
        }

        .popular-titulo {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 18px;
        }

        .popular-descripcion {
            letter-spacing: 1px;
            font-size: 16px;
            margin-top: 24px;
        }

        .popular-cta {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 32px;
            margin-top: 40px;

            position: absolute;
            bottom: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        .btn.btn-warning.cart {
            color: var(--white);
        }

        .btn.btn-success.cart {
            width: 218px;
        }

        @media screen and (max-width: 768px) {
            width: 300px;
            .popular-top {
                margin-bottom: 20px;
            }

            .popular-producto {
                top: -75px;
                left: -5px;
                width: 150px;
            }

            .popular-cta {
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                bottom: 40px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 0%);
            }

            .btn.btn-warning.cart {
                width: 100%;
            }
            
        }
    }

    @media screen and (max-width: 768px) {
        .row.popular {
            margin-top: 50px;
        }
    }
}


#lo-mejor-semana {
    margin-top: 100px;
    h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 57px;
        line-height: 1.5;

        span {
            color: var(--darkPurple);
        }
    }
    h3 {
        letter-spacing: 2px;
        margin-top: 40px;
    }

    p.lo-mejor-precio {
        color: var(--yellow);
        font-size: 40px;
        margin-top: 40px;
    }

    .yellow-container {
        background-color: var(--yellow);
        width: 100%;
        height: 290px;
        background-image: url("../images/pattern-bg.svg");
        margin-top: 200px;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 559px;
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: 991px) {
            height: 190px;
            img {
                max-width: 300px;
            }
        }
    }

    .mejor-texto {
        max-width: 739px;
        width: 100%;
        margin: 200px auto 40px auto;
        font-size: 24px;
        line-height: 1.5;
    }

    .mejor-cta-content {
        margin-top: 40px;
    }
}

#porque-nosotros {
    margin: 100px 0;
    h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 57px;
        line-height: 1.5;

        span {
            color: var(--darkPurple);
        }
    }
}