.product-detail-view {
    margin-top: 40px;
    
}

.product-detail-view-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    color: var(--darkPurple);
    text-align: left;
    padding-bottom: 0;
}

.product-detail-view-stars {
    color: var(--yellow);
    margin: 24px 0;
}

.product-detail-view-text {
    padding-left: 40px;
}

.product-detail-view-price {
    color: var(--darkBlue);
    font-size: 32px;
    margin: 24px 0;
}

.product-detail-view-legend {
    color: var(--green);
    font-size: 16px;
}

.product-detail-view-input {
    .form-control.qty {
        width: 100px;
        background: var(--darkPurple);
        color: white;
    }

    .row.add-action {
        align-items: center;
    }
}

.row.product-detail-view-info {
    margin-top: 40px;

    p {
        line-height: 1.5;
        strong {
            color: var(--darkPurple);
        }
    }

    h3 {
        color: var(--darkBlue);
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 24px;
        &::after {
            content: '';
            display: inline-block;
            height: 1.5px;
            background-color: var(--yellow);
            width: 100%;
        }
    }
}

@media screen and (max-width: 991px) {
    .product-detail-view-text {
        padding-left: 0;
        margin-top: 24px;
    }
}