#banner {
    margin-top: 100px;
}
body{
    background-image: url("../images/pattern-bg.svg");
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
}
.banner-texto{
    top: 30%;
    position: absolute;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: normal;
    letter-spacing: 0.21875rem;
    width: 50rem;
    margin-bottom: 20px;
}
.banner-texto2{
    top: 45%;
    position: absolute;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    line-height: 2rem; /* 60% */
    letter-spacing: 0.10938rem; 
}
#informacion{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: -7%;

    .informacion-boxes{
        padding-top: 0px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 0px;
        margin: 30px;
    
        .iconografia{
            margin-bottom: 20px;
        }
    }
}
h2{
    margin-top: 60px;
    text-align: center;
    span{
        color: var(--yellow);
    }
}
.products{
    display: inline-flex;
    position: relative;
    margin-top: 100px;

    .products-card{
        background-color: var(--black);
        border-radius: 20px;
        position: relative;
        text-align: center;
        width: 300px;
        height: 430px;
    
        .img-dish{
            position: absolute;
            top: -70px;
            left: 38px;
        }
    }

}

.products-info{
    position: absolute;
    bottom: 60px;
    width: 100%;
    padding: 20px;
    color: var(--white);

    .products-price{
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.products-cta {
    position: absolute;
    bottom: 30px;
    left: 40px;
    display: flex;
    gap: 32px;

    .btn-comprar {
        padding-left: 24px;
        padding-right: 24px;
    }

    .btn.btn-warning.cart {
        position: relative;
    }

    [id^="products-add-cart-"] {
        position: absolute;
        top: -14px;
        right: -8px;
    }
  
}



