:root {
    --darkPurple: #58194B;
    --darkPurple-shade-1: #652A56;
    --yellow: #F5B01C;
    --white: #FFFFFF;
    --black: #2D2D34;
    --darkBlue: #0E3859;
    --green: #76A845;
    --lightPurple: #6D275E;

    --bs-font-sans-serif: "Monopolis";
    --bs-black: var(--black);
    --bs-primary: var(--darkPurple);
}